<h2>Browse Moorings</h2>

<div class="mooringtable">
  <table class="table table-striped table-hover ">
    <thead>
      <tr>
        <th>Harbor</th>
        <th>State</th>
        <th>Latitude</th>
        <th>Longitude</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @moorings.each do |mooring| %>
        <tr>
          <td><%= link_to mooring.harbor.name, mooring_path(mooring) %></td>
          <td><%= mooring.harbor.state %></td>
          <td><%= mooring.latitude %></td>
          <td><%= mooring.longitude %></td>
          <td>$<%= mooring.price %></td>
          <td><%= button_to('Reserve Me', new_mooring_reservation_path(mooring), :method => 'get', :class => 'btn btn-primary btn-xs') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= button_to('Add a Mooring', new_mooring_path, :method => 'get', :class => 'btn btn-info')  %>

<div id='map'></div>

<script>
  var map = L.mapbox.map('map', 'pdunbar.ipfgki5i')
    .setView([44.425, -69.007], 13);
</script>
