<h3><%= @mooring.harbor.name %>, <%= @mooring.harbor.state %></h3>
<h4>Rate: $<%= @mooring.price %>.00</h4>
<h4>Location: <%= @mooring.latitude %>, <%= @mooring.longitude %></h4>
<%= button_to('Reserve it Now!', new_reservation_path, :method => 'get', :class => 'btn btn-info')  %>



