<h3><%= @mooring.harbor.name %>, <%= @mooring.harbor.state %></h3>
<h4>Rate: $<%= @mooring.price %>.00</h4>
<h5>Location: <%= @mooring.latitude %>, <%= @mooring.longitude %></h5>
<h5>Owner Email: <%= @mooring.user.email %></h5>
<%= button_to('Reserve it Now!', new_mooring_reservation_path(@mooring), :method => 'get', :class => 'btn btn-info')  %>

<div id='map'></div>

<%= content_for :extra_footer do %>
  <script type="text/javascript">
    $(function() {
      var centerLocation = {
        longitude: <%= @mooring.longitude %>,
        latitude: <%= @mooring.latitude %>
      };

      var zoomLevel = 1;

      mooringMap({
        centerLocation: centerLocation,
        zoomLevel: zoomLevel
      });
    });
  </script>
<% end %>
