<h2>Reservations</h2>

<div class="row">
  <div class="col-xs-8">
    <%= form_for [@mooring, @reservation] do |f| %>
    <% if @reservation.errors.any? %>
      <p> There were errors with your submission:</p>
      <ul>
      <% @reservation.errors.full_messages.each do |msg|%>
        <li><%= msg %></li>
      <% end %>
      </ul>
      <% end %>

      <div class="row">
        <div class="col-md-4">
          <div class="input-group date">
            <%= f.text_field :check_in, class: "form-control", id: "checkin", placeholder: "Check-In" %><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="input-group date">
             <%= f.text_field :check_out, class: "form-control", id: "checkout", placeholder: "Check-Out" %><span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
          </div>
        </div>
      </div>
      <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <%= f.collection_select(:boat_id, current_user.boats, :id, :type_of, {},html_options = {class: "form-control"}) %>
        </div>
      </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <%= f.submit "Make Reservation", class: "btn btn-default", id: "addreservation" %>
        </div>
      </div>
    </div>
  <% end %>

</div>
